body{
	
	/* font-family: Metropolis; */
	background-color: #131313;
	
}

div.progress{height:3px;}

.volume-progress{width:100px;}

.tt-menu{
	background:white;
}

.twitter-typeahead{
	margin-left:7px;
}